<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/layui.css" rel="stylesheet" />
    <script src="~/scripts/layui.all.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item "> <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img">@User.Identity.Name</a></li>
        @if (User.Identity.IsAuthenticated)
        {
        <li class="layui-nav-item layui-layout-right">
           
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button class="layui-btn layui-btn-radius" type="submit">登出</button>

            </form>
        </li>
        }
        else
        {
            <li class="layui-nav-item layui-layout-right"><a asp-controller="Account" asp-action="Login">登录</a></li>
            <li class="layui-nav-item layui-layout-right"> <a asp-controller="Account" asp-action="Signup">注册</a></li>

        }
    </ul>
    
      
   
    
    <div>
        @RenderBody()
    </div>

</body>
</html>
