
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home 控制器下的 Detail 方法</title>
</head>
    <body>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
            </colgroup>
            <thead>
                <tr>
                    <th>员工编号</th>
                    <th>员工姓名</th>     
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ID</td>
                    <td>@Model.Name</td>
                </tr>
            </tbody>
        </table>

        <p  ><a  href="/" class="layui-btn">返回首页</a></p>
    </body>
</html>
