
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home 控制器下的 Detail 方法</title>
</head>
    <body>
        <h1>欢迎!</h1>
        <div>这个消息来自 Home 控制器下的 Detail 的视图文件 Detail.cshtml</div>
        <p><a href="/">返回首页</a></p>
        <table>
            <tr>
                <td>员工编号</td>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <td>员工姓名</td>
                <td>@Model.Name</td>
            </tr>
        </table>
        <p><a href="/">返回首页</a></p>
    </body>
</html>
