@model Employee
@{
   ViewBag.Title =  $"编辑 {Model.Name}";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form  class="layui-form layui-form-pane " style="margin-left:35%; margin-top:50px;" asp-action="Edit" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label" asp-for="Name">员工姓名</label>
            <div class="layui-input-inline">
                <input class="layui-input" asp-for="Name" />
            </div>
                <span asp-validation-for="Name"></span>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md4">
                <button class="layui-btn layui-btn-fluid" lay-submit>保存</button>
            </div>   
        </div>
</form>
</body>
</html>
